
.contenedor {
	@include xy-grid-container;
}

.site-header {
	.contenedor {
		z-index: 1;
		@include position(relative);
	}
	@include position(relative);

	background-image: url(../img/coffe-background.jpg);

	@include breakpoint(medium) {
		background-image: url(../img/coffe-background.jpg);		
	}
	@include breakpoint(large) {
		background-image: url(../img/coffe-background.jpg);
	}
	background-repeat: no-repeat;
	height: 100vh;
	min-height: rem-calc(600);
	background-size: cover;

	.header-superior {
		@include xy-grid();
		@include flex-align(center, top);

		@include breakpoint(medium) {
			@include flex-align(justify, top);
		}

		@include padding(1);

		.logo {
			@include xy-cell(6);
			@include breakpoint(medium) {
				@include xy-cell(25%); 
			}
		}
	}

	.header-slogan {
		@include xy-grid();
		@include flex-align(center, middle);
		height: rem-calc(300);
		
		.slogan {
			color: $white;			
			@include font-bold(900);
			@include text-transform(uppercase);

		}
	}

	&:after{
		background: linear-gradient(to bottom, rgba(0, 0, 0, .7) 20%, rgba(0, 0, 0, .3) );
		content: '';
		@include position(absolute, 0, 0, 0, 0);
		@include box(100%, 100%);

	}
}


.navegaciones {
	@include xy-cell();
	@include breakpoint(medium) {
		@include xy-cell(auto);

	}

	.menu-principal {
		@include menu-base();
		@include flex-align(right, middle);

		li {

			a {
				@include text-transform(uppercase);
				@include font-bold(700);
				font-size: rem-calc(16);
			}
		}
	}


}