<h2 class="encabezado">Vive la <span>Experiencia </span></h2>

		<div class="galeria-superior">
			<div class="izquierda">
				<div class="imagen">
					<img src="assets/img/galeria-1.jpg">
				</div>
			</div>
			<div class="derecha">
				<div class="contenido-derecha">
					<div class="imagenes">
						<div class="imagen span">
							<img src="assets/img/galeria-2.jpg">	
						</div>
						<div class="imagen">
							<img src="assets/img/galeria-3.jpg">	
						</div>
						<div class="imagen">
							<img src="assets/img/galeria-4.jpg">	
						</div>
						<div class="imagen span">
							<img src="assets/img/galeria-5.jpg">	
						</div>
					</div>
				</div>
			</div>
		</div> <!-- .galeria superior -->

		<div class="galeria-inferior">
			<div class="imagen span">
				<img src="assets/img/galeria-6.jpg">
			</div>
			<div class="imagen">
				<img src="assets/img/galeria-7.jpg">
			</div>

			<div class="derecha">
				<div class="contenido-derecha">
					<div class="imagenes">
						<div class="imagen">
							<img src="assets/img/galeria-8.jpg">
						</div>
						<div class="imagen">
							<img src="assets/img/galeria-9.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>