<section class="nuestro-menu">
	<div class="contenedor">
		<h2 class="encabezado">Nuestro delicioso <span>Menu</span></h2>

		<div class="menu-cafeteria">
			<ul class="listado-menu">
				<h3>Cafe</h3>
				{{#each menucafe.cafe}}
					<li class="producto">
						<div class="informacion">
							<p class="nombre">{{this.name}}</p>
							<p class="descripcion">{{this.desc}}</p>
						</div>
						<div class="precio">
							<p>${{this.price}}</p>
						</div>
					</li>
				{{/each}}
			</ul>
			<ul class="listado-menu">
				<h3>Comida</h3>
				{{#each menucafe.comida}}
					<li class="producto">
						<div class="informacion">
							<p class="nombre">{{this.name}}</p>
							<p class="descripcion">{{this.desc}}</p>
						</div>
						<div class="precio">
							<p>${{this.price}}</p>
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	
</section>